
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/homepage">Verde Pinho - Restaurante</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li *ngIf="tipo == 'Utilizador'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Agendamento de refeições
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Agendar refeição</a>
                    <a class="dropdown-item" href="#">Visualizar historial de refeições</a>
                    <a class="dropdown-item" href="#">Editar marcação</a>
                </div>
            </li>
            <li *ngIf="tipo == 'Utilizador'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Perfil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Editar</a>
                </div>
            </li>
            <li *ngIf="tipo == 'Admin'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Gestão de Comerciantes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Listar Comerciantes</a>
                    <a class="dropdown-item" href="#">Editar Comerciante</a>
                    <a class="dropdown-item" href="#">Eliminar Comerciante</a>
                </div>
            </li>
            <li *ngIf="tipo == 'Comerciante'" class="nav-item">
                <a class="nav-link" href="">Dashboard</a>
            </li>
            <li *ngIf="tipo == 'Comerciante'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Encomendas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver Encomendas</a>
                    <a class="dropdown-item" href="#">Editar Encomenda</a>
                </div>
            </li>
            <li *ngIf="tipo == 'Comerciante'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reclamações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="">Ver Reclamações</a>
                </div>
            </li>
            <li *ngIf="tipo == 'Comerciante'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Produtos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/adicionarProduto">Criar Produto</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>