<app-navbar></app-navbar>
<div class="flex-container">
    <h2 class="title">Editar Estado da Reserva</h2><br><br>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Editar Estado</span>
        </div>
        <select [(ngModel)]="status.estado" name="estado" id="estado" class="custom-select">
            <option value="" disabled selected>--Estado--</option>
            <option value="Cancelada">Cancelada</option>
            <option value="Confirmada">Confirmada</option>
            <option value="Pendente">Pendente</option>
        </select>
    </div>
    <div>
        <button class="btn btn-outline-secondary" (click)="edit()">Editar Estado</button>
    </div>
</div>