<app-navbar></app-navbar>
<div class="flex-container">
    <h2 class="title">Editar Password</h2><br><br>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Nova Password</span>
        </div>
        <input [(ngModel)]="newPassword"  class="form-control" type="password" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Repita Nova Password</span>
        </div>
        <input [(ngModel)]="newPasswordRepeat" 
        class="form-control" type="password" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
    </div>
    <div>
        <button class="btn btn-outline-secondary" (click)="editPassword()">Alterar Password</button>
    </div>
</div>
